@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #1e1e1e;
}
.bg-component {
  background-color: #3130305b;
}
.bg-btn {
  background: rgb(188, 117, 117);
  background: linear-gradient(
    90deg,
    rgba(188, 117, 117, 1) 10%,
    rgba(243, 199, 199, 1) 90%
  );
  cursor: pointer;
}
.bg-radial-gradient {
  background: rgb(188, 117, 117);
  background: radial-gradient(
    circle,
    rgba(188, 117, 117, 1) 0%,
    rgba(243, 199, 199, 1) 90%
  );
}
.text-gradient {
  background: rgb(188, 117, 117);
  background: linear-gradient(
    90deg,
    rgba(243, 199, 199, 1) 10%,
    rgba(188, 117, 117, 1) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 100px;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.text-color {
  color: #e0e0e0;
}
.position {
  bottom: -10px;
  left: -10px;
}

.position-2 {
  top: -100px;
  right: -100px;
}
.sidebar {
  border: 1px solid #595757c0;

  border-radius: 15px;
}
.Container {
  border-bottom: 0;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btn {
  padding: 8px 18px;
  border: 0.5px solid #e0e0e0;
  border-radius: 8px;
  font-weight: 200;
  transition: 0.3s all ease;
}
.btn:hover{
  background-color: #e0e0e012;
}

.work-btn {
  padding: 8px 24px;
  border: 0.5px solid rgba(243, 199, 199, 1);
  border-radius: 25px;
  transition: 0.2s all ease;
}
.work-btn:hover {
  background-color: #e0e0e012;
}

.download-btn {
  color: #e0e0e08f;
  transition: 0.3s all ease;
}
.download-btn:hover {
  color: #e0e0e0b0;
  transform: scale(1.01);
}
.lightmode{
  padding: 0 12px;
  transition: 0.2s all ease;
  cursor: pointer;
}
.lightmode:hover{
  background-color: #e0e0e012;
  border-radius: 8px;
}
